body {
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.widfix {
    height: 100vh;
	margin:auto;
}
.gawd {
    padding: 20px  100px;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000%;
	animation: gradient 15s ease infinite;
}
html {
	
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000%;
	animation: gradient 15s ease infinite;
	background-color: #e73c7e;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.scrollme {
	animation: opac 3s ease infinite;
}
@keyframes opac {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .25;
	}
	100% {
		opacity: 0;
	}
}
button.navbar-toggler:focus {
    box-shadow: none !important;
}
button.navbar-toggler:active {
    box-shadow: none !important;
	animation: bgFlash 3s ease;
}
@keyframes bgFlash {
	0% {
		background-color: none;
	}
	50% {
		background-color: rgba(255,255,255,0.5);
	}
	100% {
		background-color: none;
	}
}
@media only screen and (max-width: 500px) {
	.navbar-collapse {
		backdrop-filter: blur(10px);
		margin-top: 20px;
	}
	.gawd {
		padding: auto;
		margin: 10px !important;
	}
}
.imaa  {
	width: 200px;
}
audio { width: 75%; }